body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app .col {
  text-align: center;
}

.app {
  padding-top: 30vh;
}

.theme-button img {
  height: 5rem;
  padding: 1rem;
  border-radius: 1.8rem;
  margin-bottom: 1.5rem;
  border: 2px solid transparent;
}

.theme-button img:hover {
  padding: 1.3rem;
  cursor: pointer;
}
